aws {
    region = 'us-east-1'
    client {
        maxConnections = 10
        connectionTimeout = 10000
        storageEncryption = 'AES256'
        
    }
}

process {
    executor = 'awsbatch'
    queue = 'arn:aws:batch:<AwsRegion>:<AccountId>:job-queue/<QueueName>'
    errorStrategy = 'terminate'
    aws.batch.cliPath = '/usr/local/bin/aws'
    container = 'sentieon/sentieon-aws' 
}


docker {
    enabled = true
    temp = 'auto'
}


params {
    fasta_ref = "s3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
    ref_mills = "s3://broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    ref_dbsnp = "s3://broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
    wes_bedfile = "ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/exome_pull_down_targets/20130108.exome.targets.bed"
    threads = 36
    chunk_size = 10000000
    output_dir  = ""
    script_dir = "/tmp"
}

docker {
    enabled = true
    temp = 'auto'
}
