aws {
    region = 'us-east-1'
    client {
        maxConnections = 10
        connectionTimeout = 10000
        storageEncryption = 'AES256'
        
    }
    accessKey = 'AKIAX2JY6SRYDYCLPQWK'
    secretKey = '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'
}

process {
    executor = 'awsbatch'
    queue = 'arn:aws:batch:us-east-1:<account>:job-queue/<queue-name>'
    errorStrategy = 'terminate'
    aws.batch.cliPath = '/usr/local/bin/aws'
    container = 'sentieon/sentieon-aws:201911-3'
}


docker {
    enabled = true
    temp = 'auto'
}


params {
    fasta_ref = "s3://broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
    ref_mills = "s3://broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    ref_dbsnp = "s3://broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
    wes_bedfile = "s3://broad-references/hg38/v0/20130108.exome.targets.bed"
    threads = 36
    chunk_size = 10000000
    output_dir  = ""
    script_dir = "/tmp"
    code_ver = "201808.03"
    aws_region = "us-east-1"
}

docker {
    enabled = true
    temp = 'auto'
}
